/* search trip.css */

body {
    background-image: url("bg1.jpg");
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


h1
 {
    text-align: center;
    color: rgb(215, 222, 239);
    text-decoration: solid;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration-color: black;
    margin-top: 20px;
}

header {
    background-color: #3498db;

    padding: 8px 0;
}

nav {
    text-align: center;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 1px;
}

.navbar li {
    display: inline;
    margin-right: 20px;
    position: relative;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.navbar a:hover {
    color: #ecf0f1;
}

.navbar-sub {
    display: none;
    position: absolute;
    background-color: #3498db;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 1px;
    left: 0;
}

.navbar-sub li {
    display: block;
    margin: 0;
    padding: 5px;
}

.navbar-sub a {
    padding: 10px;
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.navbar li:hover .navbar-sub {
    display: block;
}

.search-trip-container {
    padding: 50px 20px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
